# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>

RangeIndex: 21525 entries, 0 to 21524

Data columns (total 12 columns):

 #   Column            Non-Null Count  Dtype

---  ------            --------------  -----

 0   children          21525 non-null  int64

 1   days_employed     19351 non-null  float64

 2   dob_years         21525 non-null  int64

 3   education         21525 non-null  object

 4   education_id      21525 non-null  int64

 5   family_status     21525 non-null  object

 6   family_status_id  21525 non-null  int64

 7   gender            21525 non-null  object

 8   income_type       21525 non-null  object

 9   debt              21525 non-null  int64

 10  total_income      19351 non-null  float64

 11  purpose           21525 non-null  object

dtypes: float64(2), int64(5), object(5)

memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

Для этого сгруппируем клиентов по количеству детей (столбец 'children') и найдем среднее значение показателя задолженности (столбец 'debt'). Значение показателя задолженности для каждого клиента должно быть 0 если задолженности не было, и 1 если задолженность была. Проверим значения столбца 'debt':

In [22]:
print(data['debt'].unique())

[0 1]

Получаем уникальные значения 0 и 1. Значит данные столбца 'debt' можно использовать.
Сгруппируем клиентов по количеству детей и найдем среднее значение показателя задолженности:

In [23]:
print(data.groupby('children')['debt'].mean())

children

0    0.075438

1    0.092346

2    0.094542

3    0.081818

4    0.097561

5    0.000000

Name: debt, dtype: float64

В полученных результатах видим, что клиенты, у которых 5 детей никогда не имели задолженности. Однако, стоит сравнить количество клиентов между собой в количественном и процентном соотношении:

In [24]:
#Предыдущий вариант без сводных таблиц.

#вывод количества клиентов по числу детей
#print(data.groupby('children')['children'].count())
#вывод долей клиентов по числу детей
#print(data.groupby('children')['children'].count()/data.shape[0])

In [25]:
#создадим сводную таблицу
data_children_pivot = data.pivot_table(index='children', values='debt', aggfunc=['count', 'mean'])
#"переименуем" столбцы 'count debt' и 'mean debt'
data_children_pivot.columns = ['clients', 'debt_mean']
#добавим столбец с долями распределения клиентов по группам
data_children_pivot['clients_part'] = data_children_pivot['clients']/data_children_pivot['clients'].sum()
data_children_pivot

          clients  debt_mean  clients_part
children
0           14091   0.075438      0.660588
1            4808   0.092346      0.225400
2            2052   0.094542      0.096198
3             330   0.081818      0.015470
4              41   0.097561      0.001922
5               9   0.000000      0.000422

**Вывод:**
**Результаты исследования показывают, что зависимость между количеством детей и возвратом кредита в срок существует.**

Клиенты, у которых 5 детей имеют нулевую задолженность. Однако, таких клиентов около 0,04% от общего числа клиентов, что позволяет не учитывать этот факт в статистике.

Так же можно не учитывать клиентов, у которых 4 детей. Несмотря на то, что у данных клиентов самое большое число задолженностей (9,76%), количество этих клиентов около 0,19% от общего числа клиентов.

Равно как и клиенты с 3 детьми, у которых средний проент задолженности (8,18%), но количество таких клиентов - 1,55%.

Из оставшихся, клиенты, которые имеют меньше всех задолженностей (7,54%) - не имеют детей (их 66,06%), а клиенты, имеющие 1 ребенка (их 22,54%) или 2 детей (их 9,62%) - имеют примерно одинаковое количество задолженностей (9,23% и 9,45% соответственно).

**Из чего можно сделать вывод, самое меньше число задолженностей у клиентов, не имеющих детей, а самое большое количество задолженностей у клиентов с 1 и 2 детьми.**

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

Для этого сгруппируем клиентов по семейному положению (столбец 'family_status') и найдем среднее значение показателя задолженности (столбец 'debt'):

In [26]:
print(data.groupby('family_status')['debt'].mean())

family_status

Не женат / не замужем    0.097639

в разводе                0.070648

вдовец / вдова           0.066246

гражданский брак         0.093130

женат / замужем          0.075606

Name: debt, dtype: float64

На данный момент видна закономерность, что овдовевшие клиенты имеют меньше всех задолженносте, а клиенты, не состоявшие в браке - больше всех задолженностей.

Для полноты картины сравним количество клиентов между собой в количественном и процентном соотношении:

In [27]:
#Предыдущий вариант без сводных таблиц.
#вывод количества клиентов по семейному положению
#print(data.groupby('family_status')['family_status'].count())
#вывод долей клиентов по семейному положению
#print(data.groupby('family_status')['family_status'].count()/data.shape[0])

In [28]:
#создадим сводную таблицу
data_family_status_pivot = data.pivot_table(index='family_status', values='debt', aggfunc=['count', 'mean'])
#"переименуем" столбцы 'count debt' и 'mean debt'
data_family_status_pivot.columns = ['clients', 'debt_mean']
#добавим столбец с долями распределения клиентов по группам
data_family_status_pivot['clients_part'] = data_family_status_pivot['clients']/data_family_status_pivot['clients'].sum()
data_family_status_pivot

                       clients  debt_mean  clients_part
family_status
Не женат / не замужем     2796   0.097639      0.131077
в разводе                 1189   0.070648      0.055740
вдовец / вдова             951   0.066246      0.044583
гражданский брак          4134   0.093130      0.193802
женат / замужем          12261   0.075606      0.574797

Самая малочисленная группа составляют 4,46% от общего числа клиентов. Данная величина не позволяет пренебречь какой либо группой при составлении вывода.

**Вывод:** 
**Результаты исследования показывают, что зависимость между семейным положением и возвратом кредита в срок есть.**

**Клиенты с наименьшим процентом случаев задолженностей (6,62%) - овдовевшие.**

**Клиенты со средним процентом случаев задолженностей (7,06% и 7,56%) - это клиенты в разводе и клиенты, находящиеся в браке, соответственно.**

**Клиенты с наибольшим процентом случаев задолженностей (9,31% и 9,76%) - это клиенты, находящиеся в гражданском браке, и клиенты, не состоявшие в браке, соответственно.**

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

Для этого сгруппируем клиентов по категории доходов клиента (столбец 'total_income_category'), составленного в **задании 16** и найдем среднее значение показателя задолженности (столбец 'debt'):

In [29]:
print(data.groupby('total_income_category')['debt'].mean())

total_income_category

A    0.080000

B    0.070602

C    0.084982

D    0.060172

E    0.090909

Name: debt, dtype: float64

На данный момент видна закономерность, что клиенты категории E имеют меньше всех задолженносте, а клиенты категории D - больше всех задолженностей.

Для полноты картины сравним количество клиентов между собой в количественном и процентном соотношении:

In [30]:
#Предыдущий вариант без сводных таблиц.
#вывод количества клиентов по категории доходов
#print(data.groupby('total_income_category')['total_income_category'].count())
#вывод долей клиентов по категории доходов
#print(data.groupby('total_income_category')['total_income_category'].count()/data.shape[0])

In [31]:
#создадим сводную таблицу
data_total_income_category_pivot = data.pivot_table(index='total_income_category', values='debt', aggfunc=['count', 'mean'])
#"переименуем" столбцы 'count debt' и 'mean debt'
data_total_income_category_pivot.columns = ['clients', 'debt_mean']
#добавим столбец с долями распределения клиентов по группам
data_total_income_category_pivot['clients_part'] = data_total_income_category_pivot['clients']/data_total_income_category_pivot['clients'].sum()
data_total_income_category_pivot

                       clients  debt_mean  clients_part
total_income_category
A                           25   0.080000      0.001172
B                         5014   0.070602      0.235057
C                        15921   0.084982      0.746379
D                          349   0.060172      0.016361
E                           22   0.090909      0.001031

Клиенты категорий A, D, E совокупно составляют менее 2% от общего числа всех клиентов и, соответственно, могут не учитываться в  выводе.

**Вывод:** 
**Зависимость между уровнем дохода и возвратом кредита в срок существует.**

**Среди клиентов категории B (с ежемесячный доходом от 200001 до 1000000) - самое меньшее количество задолженных кредитов (7,06%).**

**Среди клиенты категории С (с ежемесячный доходом от 50001 до 200000) - самое большее количество задолженных кредитов (8,50%).**

**Клиентов остальных категорий слишком мало для составления достоверной статистики.**

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

Для этого сгруппируем клиентов по категории целей (столбец 'purpose_category'), составленного в задании 18 и найдем среднее значение показателя задолженности (столбец 'debt'):

In [32]:
print(data.groupby('purpose_category')['debt'].mean())

purpose_category

операции с автомобилем      0.093480

операции с недвижимостью    0.072551

получение образования       0.092528

проведение свадьбы          0.079118

Name: debt, dtype: float64

Можно заметить, что клиенты, берущие кредиты на операции с едвижимостью и проведение свадьбы, имеют меньше случаев задолженности, чем клиенты, берущие кредиты на получение образования и операции с автомобилем.

Для полноты картины сравним количество клиентов между собой в количественном и процентном соотношении:

In [33]:
#Предыдущий вариант без сводных таблиц.
#вывод количества клиентов по категории целей
#print(data.groupby('purpose_category')['purpose_category'].count())
#вывод долей клиентов по категории целей
#print(data.groupby('purpose_category')['purpose_category'].count()/data.shape[0])

In [34]:
#создадим сводную таблицу
data_purpose_category_pivot = data.pivot_table(index='purpose_category', values='debt', aggfunc=['count', 'mean'])
#"переименуем" столбцы 'count debt' и 'mean debt'
data_purpose_category_pivot.columns = ['clients', 'debt_mean']
#добавим столбец с долями распределения клиентов по группам
data_purpose_category_pivot['clients_part'] = data_purpose_category_pivot['clients']/data_purpose_category_pivot['clients'].sum()
data_purpose_category_pivot

                          clients  debt_mean  clients_part
purpose_category
операции с автомобилем       4279   0.093480      0.200600
операции с недвижимостью    10751   0.072551      0.504008
получение образования        3988   0.092528      0.186958
проведение свадьбы           2313   0.079118      0.108434

Самая малочисленная группа составляют 10,84% от общего числа клиентов. Данная величина не позволяет пренебречь какой либо группой при составлении вывода.

**Вывод:** 

**Разные цели кредита влияют на его возврат в срок следующим образом.**

**Клиенты, берущие кредиты на операции с недвижимостью и проведение свадьбы, имеют меньше случаев задолженности (7,26% и 7,91% соответственно), чем клиенты, берущие кредиты на получение образования и операции с автомобилем (9,25% и 9,35%) соответственно.**

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

Основными причинами появления пропусков в исходных данных являются:
Технические причины - вызванные, например, ошибками в чтении файла, ограничением прав на чтение файлов, сбое в базе данных, ошибками при сохранении данных в базу данных и при последующем чтении, и т.д.
Человеческий фактор - вызванный несовершенством людей, например, сокрытие информации, перепутанные между собой ячейки, куда заполнялись данные.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:*

Для количественных переменных пропуски лучше заполнять медианными значениями, так как медианные значения по сравнению со средними устойчивы к аномальным значениям, которые при сортировке остаются "скраю выборки".

### Шаг 4: общий вывод.

Для проведения исследования и ответа на поставленные вопросы был получен файл с данными. 
Файл содержал следующие данные:
- children — количество детей в семье
- days_employed — общий трудовой стаж в днях
- dob_years — возраст клиента в годах
- education — уровень образования клиента
- education_id — идентификатор уровня образования
- family_status — семейное положение
- family_status_id — идентификатор семейного положения
- gender — пол клиента
- income_type — тип занятости
- debt — имел ли задолженность по возврату кредитов
- total_income — ежемесячный доход
- purpose — цель получения кредита

При исследовании файла были обнаружены и обработаны пропущенные, аномальные и дублирующиеся данные. Для удобства исследования были добавлены следующие категории:
- total_income_category – категория ежемесячного дохода
- purpose_category – категория цели кредита

После чего данные были исследованы, составлены сводные таблицы и получены ответы на поставленные вопросы.<br>

**Основные выводы выполненной работы:**
1. Самое меньше число задолженностей у клиентов, не имеющих детей, а самое большое количество задолженностей у клиентов с 1 и 2 детьми.<br>
2. Клиенты с наименьшим процентом случаев задолженностей - овдовевшие. Клиенты с наибольшим процентом случаев задолженностей - это клиенты, находящиеся в гражданском браке, и клиенты, не состоявшие в браке.<br>
3. Среди клиентов категории B (с ежемесячный доходом от 200001 до 1000000) - самое меньшее количество задолженных кредитов. Среди клиенты категории С (с ежемесячный доходом от 50001 до 200000) - самое большее количество задолженных кредитов.<br>
4. Клиенты, берущие кредиты на операции с недвижимостью и проведение свадьбы, имеют меньше случаев задолженности, чем клиенты, берущие кредиты на получение образования и операции с автомобилем.<br>
5. Возможными причинами появления пропусков в исходных данных являются: сокрытие информации, ограничение прав доступа, ошибки при записи, сохранении, хранении и чтении данных.
6. Пропуски количественных переменных лучше заполнять медианными значениями, так как медианные значения устойчивы к аномальным значениям